h1{text-align:center; color:darkred;font-size: 250%; }
h2{text-align:left;color:maroon;font-size: 200%;}
p{text-align:left; color:midnightblue;font-size: 125%;}
h3{text-align:left;color:plum;font-size: 175%;}
body {
    background-color: lightblue;
}